.widget {
  background: var(--pure-white);
  border-radius: 32px;
  box-shadow: var(--widget-shadow);
  height: 181px;
  display: flex;
  align-items: center;
}

.widget-wallet-balance {
  padding: 60px 0 40px 0;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-balance {
  width: 178px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wallet-balance-top {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}

.wallet-balance-top-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wallet-balance-top-left h5 {
  font-family: var(--open-sans);
  font-weight: 600;
  font-size: 16px;
  color: var(--dark-gray);
}

.wallet-balance-top-left-icon {
  font-size: 24px;
}

.wallet-balance-top-left-eye {
  font-size: 24px;
}

.wallet-balance-bottom-amount {
  display: flex;
  align-items: center;
  gap: 16px;
}

.wallet-balance-bottom-amount h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--dark-gray);
}

.wallet-balance-bottom-amount__percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: rgba(17, 140, 79, 0.15);
  border-radius: 18px;
}

.wallet-balance-bottom-amount__percentage p {
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 6px;
  color: #118c4f;
}

.wallet-balance-bottom-amount__percentage-icon {
  font-size: 5.6px;
  color: #118c4f;
}

.widget-wallet-balance:not(:last-child) {
  border-right: 1px solid var(--light-gray);
}
