.hero {
  display: grid;
  grid-template-columns: 450px 520px;
  padding: 84px 96px 48px 96px;
  justify-content: space-between;
  background: var(--pure-white);
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-left h1 {
  font-family: var(--manrope);
  font-weight: 800;
  font-size: 48px;
}

.hero-left p {
  font-family: var(--lato);
  color: var(--medium-gray);
  font-weight: bold;
}

.hero-left__texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.twilight-elegance {
  background: linear-gradient(45deg, #2d2d34, #f42272);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-right img {
  width: 520px;
}

.hero-left__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-left__buttons button {
  padding: 16px 28px;
  font-family: var(--manrope);
  font-weight: bold;
  border-radius: 12px;
}

.hero-left__buttons button:first-child {
  color: var(--pure-white);
  background: var(--majorelle-blue);
}

.hero-left__buttons button:last-child {
  background: var(--light-gray);
  color: var(--medium-gray);
}

@media screen and (max-width: 1160px) {
  .hero {
    grid-template-columns: 400px auto;
    padding: 52px 72px 48px 72px;
  }

  .hero-left h1 {
    font-size: 40px;
  }

  .hero-right img {
    width: 480px;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin: 0 auto;
  }

  .hero-left {
    align-items: center;
    width: 450px;
  }

  .hero-left p {
    font-size: 20px;
  }

  .hero-left h1 {
    font-size: 48px;
  }

  .hero-left__texts {
    align-items: center;
    text-align: center;
  }

  .hero-right img {
    width: 520px;
  }
}

@media screen and (max-width: 608px) {
  .hero {
    padding: 24px;
  }

  .hero-left {
    width: auto;
    gap: 36px;
  }

  .hero-left h1 {
    font-size: 36px;
  }

  .hero-left p {
    font-size: 16px;
  }

  .hero-left__texts {
    gap: 16px;
  }

  .hero-right img {
    width: 100%;
  }

  .hero-left__buttons button {
    padding: 16px 28px;
    font-size: 16px;
  }
}
