.sidebar {
  flex: 0.171875;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 58px;
  padding: 28px 16px;
  background: var(--pure-white);
}

.sidebar-logo h1 {
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 32px;
  color: var(--majorelle-blue);
  text-align: center;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
}

.sidebar-link__icons {
  font-size: 24px;
  color: var(--raisin-black);
}

.sidebar-links p {
  font-weight: 700;
  font-size: 20px;
  color: var(--raisin-black);
}

.sidebar-link__icons:active {
  background: var(--majorelle-blue);
  color: var(--pure-white);
}

.active-link {
  background: var(--majorelle-blue);
  color: var(--pure-white);
}

.sidebar-link__component:hover {
  background: var(--majorelle-blue-lavender-variant);
  color: var(--warm-white);
}