.hiw {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  position: relative;
}

.hiw-mockup {
  width: 490px;
  margin-right: -200px;
  z-index: 1;
}

.hiw-card {
  background: var(--royal-amethyst-cascade);
  color: var(--pure-white);
  padding: 48px 96px 72px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
  width: 73%;
  border-radius: 160px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.triangle-abs,
.rectangle-abs,
.star {
  position: absolute;
}

.star {
  left: 300px;
  top: -90px;
  width: 243px;
}

.triangle-abs {
  bottom: -60px;
  left: 250px;
}

.rectangle-abs {
  top: 27px;
  right: 12px;
}

.hiw-card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.hiw-card__text h1 {
  font-family: var(--manrope);
  font-size: 36px;
  font-weight: 800;
}

.hiw-card__text p {
  font-family: var(--lato);
  font-size: 16px;
  width: 450px;
  text-align: right;
}

.hiw-card button {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--manrope);
  padding: 16px 28px;
  color: var(--pure-white);
  background: var(--rose);
  border-radius: 12px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media screen and (max-width: 1140px) {
  .hiw-mockup {
    width: 430px;
  }
}

@media screen and (max-width: 1024px) {
  .hiw-mockup {
    display: none;
  }

  .hiw-card {
    border-radius: 0;
    align-items: center;
    width: 100%;
    padding: 84px 0;
  }

  .star {
    left: unset;
    right: -90px;
    width: 318px;
  }

  .hiw-card__text {
    align-items: center;
  }

  .hiw-card__text p {
    text-align: center;
  }
}

@media screen and (max-width: 498px) {
  .hiw-card {
    padding: 56px 24px;
  }

  .hiw-card__text h1 {
    font-size: 32px;
  }

  .hiw-card__text p {
    width: 100%;
    font-size: 14px;
  }

  .hiw-card button {
    font-size: 16px;
  }

  .star {
    width: 159px;
    right: -30px;
  }
}
