.about {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  position: relative;
  padding: 120px 0 0 0;
}

.hexagon {
  position: absolute;
  top: 40px;
  width: 243px;
  z-index: 1;
  right: 300px;
}

.about-card {
  width: 73%;
  padding: 48px 0 72px 96px;
  border-radius: 0px 160px 0px 0px;
  background: var(--royal-amethyst-cascade);
  display: flex;
  flex-direction: column;
  gap: 36px;
  z-index: 3;
}

.about-card__text {
  color: var(--pure-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-card__text h1 {
  font-family: var(--manrope);
  font-size: 40px;
  font-weight: 800;
}

.about-card__text p {
  font-family: var(--lato);
  width: 450px;
}

.about-card button {
  background: var(--rose);
  padding: 16px 28px;
  font-size: 20px;
  font-family: var(--manrope);
  font-weight: 700;
  color: var(--pure-white);
  max-width: fit-content;
  border-radius: 12px;
}

.s21u {
  width: 490px;
  margin-left: -200px;
  z-index: 3;
}
