.dashboard {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}

.dashboard-contents {
  flex: 0.828125;
  padding: 40px 32px;
}

.dashboard-card {
  background: var(--pure-white);
  border-radius: 32px;
  box-shadow: var(--widget-shadow);
}
