.news {
  background: var(--pure-white);
  padding: 96px;
}

.news-letter {
  background: var(--royal-amethyst-cascade);
  border-radius: 36px;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
}

.news-letter__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 826px;
}

.news-letter__text h1 {
  color: var(--pure-white);
  font-size: 40px;
  font-weight: 800;
}

.news-letter__text p {
  font-size: 20px;
  color: var(--light-gray);
  text-align: center;
}

.news-letter__form {
  display: flex;
  align-items: center;
  gap: 32px;
}

.news-letter__form input {
  border: 1px solid var(--light-gray);
  padding: 20px 16px;
  width: 360px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  color: var(--light-gray);
}

.news-letter__form input::placeholder {
  color: var(--light-gray);
  font-weight: 500;
}

.news-letter__form button {
  background: var(--rose);
  color: var(--pure-white);
  border-radius: 12px;
  font-size: 20px;
  padding: 20px 16px;
  font-weight: Bold;
}

@media screen and (max-width: 1080px) {
  .news {
    padding: 72px 48px;
  }

  .news-letter__text {
    width: 80%;
  }

  .news-letter__text h1 {
    font-size: 36px;
  }

  .news-letter__text p {
    font-size: 16px;
  }

  .news-letter__form input {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .news {
    padding: 48px;
  }
}

@media screen and (max-width: 694px) {
  .news-letter {
    padding: 48px 16px;
    gap: 48px;
  }

  .news-letter__text {
    width: 90%;
  }

  .news-letter__form {
    flex-direction: column;
  }

  .news-letter__form input {
    width: 100%;
    text-align: center;
  }

  .news-letter__form button {
    width: 100%;
  }
}

@media screen and (max-width: 518px) {
  .news-letter__text h1 {
    font-size: 24px;
  }

  .news-letter__text p {
    font-size: 14px;
  }

  .news-letter__form {
    width: 100%;
  }

  .news-letter__form {
    gap: 16px;
  }

  .news-letter__form input,
  .news-letter__form button {
    font-size: 16px;
    padding: 20px 16px;
  }
}

@media screen and (max-width: 480px) {
  .news {
    padding: 48px 24px;
  }

  .news-letter {
    border-radius: 24px;
  }
}
