.faq {
  padding: 24px 96px;
}

.faq-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 52px;
}

.faq-heading h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: var(--raising-black-charcoal-variant);
}

.faq-heading p {
  width: 720px;
  font-size: 20px;
  text-align: center;
}

.faq-question-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--manrope);
  font-weight: 600;
  font-size: 16px;
  user-select: none;
}

.faq-item {
  width: 600px;
  padding: 12px;
  background: var(--pure-white);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.faq-answer {
  font-family: var(--lato);
  font-weight: 300;
  font-size: 14px;
}

.faq-icon {
  font-size: 24px;
  color: var(--harvest-gold-sunset-variant);
}

.faq-alt {
  color: var(--raising-black);
  text-align: center;
}

.faq-alt-alt {
  font-weight: bold;
  color: var(--majorelle-blue-deep-midnight-variant);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .faq-heading h1 {
    font-size: 36px;
  }

  .faq-heading p {
    width: 450px;
  }

  .faq-item {
    width: 520px;
  }
}

@media screen and (max-width: 684px) {
  .faq {
    padding: 24px 48px;
  }

  .faq-heading p {
    width: 100%;
  }

  .faq-item {
    width: 100%;
  }
}

@media screen and (max-width: 588px) {
  .faq-heading h1 {
    font-size: 24px;
  }

  .faq-heading p {
    font-size: 16px;
  }

  .faq-icon {
    font-size: 20px;
  }

  .faq-question span {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .faq {
    padding: 24px;
  }

  .faq-heading p {
    font-size: 14px;
  }

  .faq-question span {
    font-size: 12px;
  }

  .faq-question-flex {
    gap: 16px;
  }

  .faq-item {
    padding: 8px;
  }
}
