* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
*font-family: 'Lato', sans-serif;
*font-family: 'Manrope', sans-serif;
*font-family: 'Open Sans', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Naira";
  src: url(./fonts/manrope/Manrope-VariableFont_wght.ttf) format("truetype");
  src: local("Naira");
}

:root {
  --floral-white: #fff8f0;
  --pure-white: #ffffff;
  --warm-white: #fff5eb;
  --off-white: #fdfcf9;
  --bg: #fafafc;
  --light-gray: #eaeaea;
  --medium-gray: #777777;
  --cool-gray: #a9a9a9;
  --raising-black: #2d2d34;
  --raising-black-darker-variant: #262629;
  --raising-black-charcoal-variant: #1f1f26;
  --raising-black-warmer-dark-variant: #35353b;
  --majorelle-blue: #724cf9;
  --majorelle-blue-softer-variant: #8e6bf5;
  --majorelle-blue-electric-variant: #6f27e4;
  --majorelle-blue-lighter-variant: #916cfb;
  --majorelle-blue-lavender-variant: #9b7cfe;
  --majorelle-blue-deep-midnight-variant: #321e6b;
  --rose: #f42272;
  --darker-rose-variant: #d61e64;
  --coral-rose-variant: #ff5a7d;
  --softer-rose-variant: #f890b5;
  --harvest-gold-sunset-variant: #ff8c00;
  --warmer-toned-brown: #704c3e;
  --open-sans: "Open Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
  --lato: "Lato", sans-serif;
  --faint-majorelle-blue: rgba(114, 76, 249, 0.1);
  --faint-harvest-gold: rgba(236, 164, 0, 0.1);
  --faint-rose: rgba(244, 34, 114, 0.1);
  --mystic-twilight-elegance: linear-gradient(
    45deg,
    #2d2d34 7.67%,
    #f42272 100%
  );
  --card-linear: linear-gradient(
    180deg,
    #610528 -9.5%,
    #f42272 -9.49%,
    #3d0a4a 100%
  );
  --royal-amethyst-cascade: linear-gradient(45deg, #5933a0, #724cf9);
  --mystic-twilight-elegance: linear-gradient(45deg, #2d2d34, #f42272);
  --orchid-burst: linear-gradient(45deg, #724cf9, #eca400);
  --sunset-blaze-radiance: linear-gradient(45deg, #f42272, #ffbb00);
  --widget-shadow: 0px 0px 4px rgba(210, 194, 255, 0.96);
}

h1 {
  font-family: var(--manrope);
}
