nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  background: var(--pure-white);
}

nav .logo {
  font-weight: bold;
  color: var(--majorelle-blue);
  font-size: 32px;
  font-family: var(--open-sans);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav a {
  font-size: 16px;
  color: var(--raising-black);
}

.nav-buttons {
  display: flex;
  gap: 8px;
}

.nav-buttons button,
.nav-buttons a {
  padding: 16px 28px;
  border-radius: 12px;
  font-weight: 500;
}

.nav-buttons a:first-child {
  color: var(--pure-white);
  background: var(--royal-amethyst-cascade);
}

.nav-buttons a:last-child{
  background: var(--light-gray);
  color: var(--medium-gray);
}

.nav-menu {
  display: none;
}

.mobile-buttons {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
  }

  .nav-links_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 24px;
    box-shadow: 0 4px 16px 0 rgba(45, 45, 52, 0.25);
    background: var(--pure-white);
    color: var(--raising-black);
    padding: 16px 24px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: auto;
    top: 48px;
    overflow: hidden;
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: end;
  }

  .nav-links_mobile a {
    width: 100%;
    white-space: nowrap;
  }

  .nav-buttons-n-menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .exit,
  .menu {
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (max-width: 834px) {
  .logo {
    font-size: 24px;
  }

  .nav-buttons button {
    padding: 12px 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 24px;
  }
}

@media screen and (max-width: 546px) {
  .nav-buttons {
    display: none;
  }

  .mobile-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
