nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
}

nav .logo {
  font-weight: bold;
  color: var(--majorelle-blue);
  font-size: 32px;
  font-family: var(--open-sans);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav a {
  font-family: var(--manrope);
  font-family: 16px;
  color: var(--raising-black);
}

.nav-buttons {
  display: flex;
  gap: 8px;
}

.nav-buttons button {
  padding: 16px 28px;
  border-radius: 12px;
  font-weight: 500;
}

.nav-buttons button:first-child {
  color: var(--pure-white);
  background: var(--royal-amethyst-cascade);
}

.nav-buttons button:last-child {
  background: var(--light-gray);
  color: var(--medium-gray);
}
